:root {
  --about-color: #e7be21;
  --biography-color: #46b933;
  --work-color: #e86209;
  --contact-color: #75bbff;
}

body {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  font-family: 'Inconsolata', monospace;
}

h1 {
  font-size: 75px;
  text-shadow: #CCC 1px 0 10px;
}

h2 {
  font-size: 60px;
}

header {
  margin: 0;
  padding: 0;
  grid-column: 1/2;
  background-color: black;
  top: 0;
}
.fijo{
  color: white;
  position: sticky;
  top: 0;
  
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header>div.cube-container{
  margin-bottom: 10%;
  margin-top: 10%;
}
nav{
  display: inline-block;
}
ul{
  padding: 0;
}
ul>li {
  list-style-type: none;
  display: inline;
  padding: 0.3em;
  color: white;
  font-size: 1.25em;
}

#header-title {
  text-align: center;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

main {
  margin: 0;
  padding: 0;  
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


#about,
#biography,
#work,
#contact {
  margin: 0;
  padding: 1em;
}

#about {
  background-color: var(--about-color);
}

#biography {
  background-color: var(--biography-color);
}

#work {
  background-color: var(--work-color);
  display: flex;
  flex-direction: column;
}
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact {
  background-color: var(--contact-color);
}

.social-link{
  width: 100%;
}
.a-social{
  text-decoration: none;
  font-size: 20px;
  padding: 0 5%;
  margin-top: 10%;
  color: gray;
}
a {
  text-decoration: none;
  color: #e7be21;
}
